In [3]:
import pandas as pd

### New format

In [4]:
db_names = ['home_20200508','snacks','salad','pasta','world_cuisine',
            'meat_and_poultry', "home_20200527", "smoothies","home_20200614-part1",
            "home_20200614-part2", "pasta_main_categories", "fruit_vegetables_main_categories",
           "meat_poultry_main_categories", "seafood_main_categories", "bread_main_categories",
           "desserts_main_categories", "appetizers_main_categories",  "world_cuisine_main_categories",
           "main_dish_main_categories"]
df_list = [pd.read_csv('datasets/dataframes/recipe_df_{}_new.csv'.format(name)) for name in db_names]

In [5]:
df_new = pd.concat(df_list)

In [6]:
df_new.shape

(8252, 20)

In [7]:
df_new = df_new.drop_duplicates(subset='link',keep='last')

In [8]:
df_new.shape

(5321, 20)

In [9]:
df_new.to_csv("datasets/dataframes/allrecipes_new.csv", index=False)

In [10]:
df_new['categories_list']=df_new.categories_list.apply(lambda x: eval(x))

In [11]:
df_new['category']=df_new.categories_list.str[0]

### Old format

In [12]:
db_names = ['home_20200508','snacks','salad','pasta','world_cuisine',
            'meat_and_poultry', "home_20200527", "smoothies"]
df_list = [pd.read_csv('datasets/dataframes/recipe_df_{}_old.csv'.format(name)) for name in db_names]

In [13]:
df_old = pd.concat(df_list)

In [14]:
df_old = df_old.drop_duplicates(subset='link',keep='last')

In [15]:
df_old.to_csv("datasets/dataframes/allrecipes_old.csv", index=False)

In [16]:
df_old['categories_list']=df_old.categories_list.apply(lambda x: eval(x))
df_old['category']=df_old.categories_list.str[2]

In [17]:
a = df_old.groupby("category").size().sort_values().reset_index(name='count_old')
b = df_new.groupby("category").size().sort_values().reset_index(name='count_new')
c = pd.merge(a,b,how="outer")
c["total"] = c.count_old + c.count_new
c

                            category  count_old  count_new   total
0          Baileys à la French Toast        1.0        NaN     NaN
1     Bananas Foster Belgian Waffles        1.0        NaN     NaN
2                      Berry Vinegar        1.0        NaN     NaN
3               Raspberry Vinegar II        1.0        NaN     NaN
4                Raspberry Vinegar I        1.0        NaN     NaN
5                  Pasta and Noodles        5.0       30.0    35.0
6              Appetizers and Snacks       20.0      726.0   746.0
7                   Everyday Cooking       26.0       45.0    71.0
8                              Bread       28.0      507.0   535.0
9              Fruits and Vegetables       28.0       45.0    73.0
10                  Meat and Poultry      130.0      368.0   498.0
11                          Desserts      308.0      505.0   813.0
12                           Seafood      322.0      113.0   435.0
13                         Main Dish      347.0      155.0   502.0
14                     World Cuisine      463.0      742.0  1205.0
15  Trusted Brands: Recipes and Tips      519.0      339.0   858.0
16                         Side Dish      577.0      340.0   917.0
17              Breakfast and Brunch      707.0      246.0   953.0
18            Soups, Stews and Chili      719.0      458.0  1177.0
19                             Salad      804.0      312.0  1116.0
20                            Drinks     1065.0       25.0  1090.0
21                       Main Dishes        NaN      356.0     NaN

In [16]:
a = df_old.groupby("category").size().sort_values().reset_index(name='count_old')
b = df_new.groupby("category").size().sort_values().reset_index(name='count_new')
c = pd.merge(a,b,how="outer")
c["total"] = c.count_old + c.count_new
c

                            category  count_old  count_new   total
0          Baileys à la French Toast        1.0        NaN     NaN
1     Bananas Foster Belgian Waffles        1.0        NaN     NaN
2                      Berry Vinegar        1.0        NaN     NaN
3               Raspberry Vinegar II        1.0        NaN     NaN
4                Raspberry Vinegar I        1.0        NaN     NaN
5                  Pasta and Noodles        5.0       18.0    23.0
6              Appetizers and Snacks       20.0      184.0   204.0
7                   Everyday Cooking       26.0       26.0    52.0
8                              Bread       28.0      501.0   529.0
9              Fruits and Vegetables       28.0       31.0    59.0
10                  Meat and Poultry      130.0      232.0   362.0
11                          Desserts      308.0      139.0   447.0
12                           Seafood      322.0      100.0   422.0
13                         Main Dish      347.0      126.0   473.0
14                     World Cuisine      463.0      304.0   767.0
15  Trusted Brands: Recipes and Tips      519.0      307.0   826.0
16                         Side Dish      577.0      284.0   861.0
17              Breakfast and Brunch      707.0      198.0   905.0
18            Soups, Stews and Chili      719.0      408.0  1127.0
19                             Salad      804.0      275.0  1079.0
20                            Drinks     1065.0       25.0  1090.0
21                       Main Dishes        NaN      132.0     NaN